<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets --> 
  <filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>com.cacopu.server.ServletContextListener</listener-class>
  </listener>

  <mime-mapping> 
    <extension>css</extension>
    <mime-type>text/css</mime-type> 
  </mime-mapping>

  <security-constraint>
      <web-resource-collection>
          <url-pattern>/home</url-pattern>
      </web-resource-collection>
      <auth-constraint>
          <role-name>*</role-name>
      </auth-constraint>
  </security-constraint>

  <!-- Mail Service -->
  <servlet>
    <servlet-name>mailhandler</servlet-name>
    <servlet-class>com.cacopu.server.MailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailhandler</servlet-name>
    <url-pattern>/_ah/mail/*</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/_ah/mail/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

</web-app>
